<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>65</integer>
	<key>Time Stamp</key>
	<real>1707981706.2418509</real>
	<key>UUID</key>
	<string>FF54D2D5-535A-47ED-AC64-6102B5BDB4C0</string>
</dict>
</plist>
